<% content_for :breadcrumb do %>
  <%= render('shared/breadcrumb', links: [
    {path: feeds_path, name: 'Feeds'},
    {path: feed_path(@feed), name: @feed.name},
    {path: request.path, name: :edit},
  ]) %>
<% end %>

<h1>Editing Feed</h1>

<%= render 'form', feed: @feed %>

<%= link_to 'Show', @feed %> |
<%= link_to 'Back', feeds_path %>
