<% content_for :breadcrumb do %>
  <%= render('shared/breadcrumb', links: [
    {path: feeds_path, name: 'Feeds'},
    {path: request.path, name: @feed.name},
  ]) %>
<% end %>

<div class="py-6">
  <div class="max-w-lg">
    <% @items_set.each do |date, items| %>
      <div class='pb-10'>
        <h2 class=''><%= link_to date, feed_daily_path(date: date.strftime("%Y%m%d")), class: 'underline' %></h2>
        <%= render collection: items, partial: 'items/item' %>
      </div>
    <% end %>
  </div>
</div>
