<% content_for :title do %>
  <%=
    render 'daily_pagination',
           date: @date,
           range_name: 'Daily',
           weekly_path: feed_weekly_path,
           daily_path: feed_daily_path,
           prev_path: feed_daily_path(date: @date.yesterday.strftime("%Y%m%d")),
           next_path: feed_daily_path(date: @date.tomorrow.strftime("%Y%m%d"))
  %>
<% end %>

<main class="mb-20">
  <%= render 'open_links', items: @items %>
  <div class="mx-auto">
    <div role="list">
      <%= turbo_frame_tag "items", class: "grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" do %>
        <%= render collection: @items, partial: 'items/item' %>
      <% end %>
    </div>
  </div>
</main>
