<% content_for :title do %>
  <%=
    render 'date_range_pagination',
           date: @date,
           range_name: 'Weekly',
           weekly_path: feed_group_weekly_path,
           daily_path: feed_group_daily_path,
           prev_path: feed_group_weekly_path(date: @date.weeks_ago(1).strftime("%Y%m%d")),
           next_path: feed_group_weekly_path(date: @date.weeks_since(1).strftime("%Y%m%d"))
  %>
<% end %>

<% content_for :tab_menu do %>
  <%= render 'weekly_menu', default_feed_groups: @default_feed_groups, current_feed_group: @feed_group, current_feeds: @feeds %>
<% end %>

<main class="mb-20">
  <div class="mx-auto">
    <div role="list">
      <%= turbo_frame_tag "items", class: "grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" do %>
        <%= render collection: @items, partial: 'items/item' %>
      <% end %>
    </div>
  </div>
</main>
