<% content_for :tab_menu do %>
  <div class="flex items-center mb-2 overflow-y-auto border-b-4 border-gray-300 space-x-2 whitespace-nowrap">
    <% Current.feeds.each do |feed| %>
      <% if feed_daily_path(feed, date: date) == request.path %>
        <%= button_to feed_daily_url(feed), method: 'get', class: 'rounded-t-lg px-2 py-1.5 font-medium text-gray-800 bg-gray-300' do %>
          <span class="truncate">
            <%= feed.name %>
          </span>
        <% end %>
      <% else %>
        <%= button_to feed_daily_path(feed, date: date), method: 'get', class: 'rounded-t-lg px-2 py-1.5 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 capitalize text-gray-500 bg-gray-200' do %>
          <span class="truncate">
            <%= feed.name %>
          </span>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="py-6">
  <div class="max-w-lg">
  </div>

  <div class="flex justify-center max-w-lg">
  </div>
</div>
