<div class='bg-white overflow-hidden rounded-lg shadow m-5'>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <%= link_to item.link, title: item.title, class: 'hover:underline', target: '_blank' do %>
    <div class="bg-white px-4 py-5 sm:px-6">
      <div class="flex space-x-4">
        <div class="flex-shrink-0">
          <svg class="h-10 w-10 rounded" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.26 13a2 2 0 0 1 .01-2.01A3 3 0 0 0 9 5H5a3 3 0 0 0 0 6h.08a6.06 6.06 0 0 0 0 2H5A5 5 0 0 1 5 3h4a5 5 0 0 1 .26 10zm1.48-6a2 2 0 0 1-.01 2.01A3 3 0 0 0 11 15h4a3 3 0 0 0 0-6h-.08a6.06 6.06 0 0 0 0-2H15a5 5 0 0 1 0 10h-4a5 5 0 0 1-.26-10z"></path></svg>
        </div>
        <div class="min-w-0 flex-1">
          <p class="text-sm font-medium text-gray-900"><%= item.title %></p>
          <p class="text-sm text-gray-500"><%= sanitize item.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
